<div class="flash-display">
  <span>
    THIS MESSAGE HAS BEEN DELETED.
    <br>
    ONCE YOU LEAVE THIS PAGE IT WILL NO LONGER BE ACCESSIBLE.
  </span>
</div>


<div id="message-display">
  <%= @content.body %>
</div>
